.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}
.content {
    border-radius: 1.5em;
    background: #fb9fff;
    padding: 1em;
    font-family: Consolas, serif;
    color: #000000;
}
button {
    font-family: "Bradley Hand ITC", cursive;
    font-size: 1.5em;
    background-color: #0e00ff;
    transition: font-size 4s, background-color 6s;
}
button:hover {
    font-size: 5em;
    background-color: white;
}